<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144866563398-8d4riqt2s9mp16kc8j7lo0fs0rfcb7k5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144866563398-8d4riqt2s9mp16kc8j7lo0fs0rfcb7k5</string>
	<key>API_KEY</key>
	<string>AIzaSyBm-cI7t0YESxzmXUNscALr2G12nJrWGHU</string>
	<key>GCM_SENDER_ID</key>
	<string>144866563398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cibertec.edu.pe.Zumaran</string>
	<key>PROJECT_ID</key>
	<string>damii-practica</string>
	<key>STORAGE_BUCKET</key>
	<string>damii-practica.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144866563398:ios:da76ba787f4e36f15d0147</string>
</dict>
</plist>